<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>Algo-point</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid bg-grey text-black">
          <h1 style="text-align: center; color: brown;"><a href = "home" style="color: brown;">Algo-point</a></h1>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="background-color:lavender;"><h2 style="text-align: center;">Glossary</h2>
              <ul class="nav flex-column">
                <li class ="nav-item"><h6>&ensp;Time Complexity</h6></li>
                <ul>
                    <li class = "nav-item"><a href ="aanalysis"> Asymptotic Analysis </a></li>
                    <li class = "nav-item"><a href="thetano">Notation</a></li>
                    <li class = "nav-item"><a href= "bigono">Big-O Notation</a></li>
                    <li class = "nav-item"><a href="omegano">Omega Notation</a></li>
                </ul>
                <li class ="nav-item"><h6>&ensp;Searching Algorithms</h6></li>
                <ul>
                    <li class="nav-item"><a href="linearsearch">Linear Search</a></li>
                    <li class="nav-item"><a href = "binarysearch">Binary Search</a></li>
                </ul>
                <li class ="nav-item"><h6>&ensp; Sorting Algorithms</h6></li>
                <ul>
                    <li class="nav-item"><a href ="selectionsort">Selection Sort</a></li>
                    <li class="nav-item"><a href = "bubblesort">Bubble Sort</a></li>
                    <li class="nav-item"><a href = "insertionsort">Insertion Sort</a></li>
                    <li class="nav-item"><a href = "mergesort">Merge Sort</a></li>
                    <li class="nav-item"><a href = "countingsort">Counting Sort</a></li>
                </ul>
                <li class ="nav-item"><h6>&ensp;Divide and Conquer</h6></li>
                <ul>
                    <li class="nav-item"><a href = "binarysearch">Binary Search</a></li>
                    <li class="nav-item"><a href ="mergesort">Merge Sort</a></li>
                </ul>
                <li class ="nav-item"><h6>&ensp;Graph Algorithms</h6></li>
                <ul>
                    <li class="nav-item"><a href = "bfs">Breadth First Search(BFS)</a></li>
                    <li class="nav-item"><a href = "dfs">Depth First Search(DFS)</a></li>
                    <li class="nav-item"><a href = "prim">Prim Algorithm</a></li>
                    <li class="nav-item"><a href = "kruskal">Kruskal Algorithm</a></li>
                    <li class="nav-item"><a href = "warshall">Warshall Alorithm</a></li>
                </ul>
                <li class ="nav-item"><h6>&ensp;Tree Operations</h6></li>
                <ul>
                    <li class="nav-item"><a href = "inordertree">Inorder</a></li>
                    <li class="nav-item"><a href = "searchtree">Search</a></li>
                    <li class="nav-item"><a href = "inserttree">Insert</a></li>
                    <li class="nav-item"><a href = "deletetree">Delete</a></li>
                </ul>
                <li class="nav-item"><h6>&ensp;Applications of Algorithms</h6></li>
                <ul>
                    <li class="nav-item"><a href="table">Truth Table Generator</a></li>
                </ul>
            </ul>  
            </div>
            
            <div class="col-sm-10" style="background-color:lavenderblush;"><h2 style="text-align: center; color: goldenrod;">Welcome!</h2>
                <br>
            <!--Content of the page-->
            <div class="container">
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th>P</th>
                      <th>Q</th>
                      <th><%= expression %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>F</td>
                      <td>F</td>
                      <td><%= answer['0'] %></td>
                    </tr>
                    <tr>
                      <td>F</td>
                      <td>T</td>
                      <td><%= answer['1'] %></td>
                    </tr>
                    <tr>
                      <td>T</td>
                      <td>F</td>
                      <td><%= answer['2'] %></td>
                    </tr>
                    <tr>
                        <td>T</td>
                        <td>T</td>
                        <td><%= answer['3'] %></td>
                      </tr>
                  </tbody>
                </table>
              </div>
                
            </div>
          </div>
        </body>
</html>